@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  direction: rtl;

  word-spacing: 10px;
  text-shadow: 2px 2px 5px palevioletred;
  text-align: center;
}
body {
  
  color: #af60bb;
  background-color: rgb(238, 214, 163);
}
.app {
  width: 90%;
  margin: 0 auto 15px auto;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  border: 5px black;
  background-color: blanchedalmond;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.question-section {
  width: 100%;

  text-align: justify;
  background-color: white;
}

.question-count {
  margin-bottom: 5px;
  text-align: right;
}

.question-text {
  padding: 100px;
  padding-top: 100px;
  margin: 1%;
  text-align: right;
  font-size: 24px;
  text-align: center;
  justify-content: center;
}
.sumery {
  text-indent: 50px;
  text-align: center;
  letter-spacing: 3px;
  letter-spacing: 0.2m;
  word-spacing: 0.2m;
}
.header {
  font-weight: 800;
  font-style: italic;
}

button {
  display: inline;
  
  width: 100px;
  font-size: 16px;
  color: white;
  background-color: #af60bb;
  color: blanchedalmond;
  background-color: #4b0082;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;

  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
}
.iconeStyle{
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  width:30px;
  height:30px;
  border-radius:80%;
  background-color:#1976d2;
}
.MuiStep-completed:nth-child(1) .iconeStyle {
  background-color: #09ff00;
}
.MuiStep-completed:nth-child(2) .iconeStyle {
  background-color: #cfea35;
}
.MuiStep-completed:nth-child(3) .iconeStyle {
  background-color: #ffee00;
}
.MuiStep-completed:nth-child(4) .iconeStyle {
  background-color: #f8a304;
}
.MuiStep-completed:nth-child(5) .iconeStyle {
  background-color: #ea3535;
}
.start {
  display: inline;
  
  width: 300px;

  font-size: 16px;
  color: blanchedalmond;
  background-color: #4b0082;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;

  padding: 5px;
  justify-content: flex-start;
  align-items: center;
}
nav {
  position: flex;
  display: inline;
}

nav li {
  display: inline;
  background-color: blanchedalmond;
  color: white;
  background-color: rgb(255, 205, 234);
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.card {
  
  padding: 0%;
  padding: 60%;
  display: inline-block;
  margin: 20px;
  
  background-color: #fff4dd;
  background-color: rgb(255, 0, 157);
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  width: 50px;
  height: 100px;
  border-radius: 12px;
  text-align: right;
  text-align: center;
  border: 5px black;
}
.share {
  
  display: inline-block;
  width: 90%;
  height: 35%;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  color: #af60bb;

  background-color: rgb(255, 205, 234);
  text-align: center;
}
.share h1 :nth-child(1) {
  animation-delay: 3s;
}
.share h1 :nth-child(2) {
  animation-delay: 5s;
}

.share h1 {
  display: block;

  text-align: center;

  
  animation: text_reveal 0.1s ease forwards;
  animation-delay: 1s;
}
.share h6 {
  display: block;

  text-align: center;
  font-size: large;
  
  animation: text_reveal 0.1s ease forwards;
  animation-delay: 1s;
}
.share h1:nth-child(1) {
  animation-delay: 1s;
}
.share h1:nth-child(2) {
  animation-delay: 3s;
}
.share h1 span {
  position: absolute;
  top: 0;

  height: 100%;
  width: 0;
  background-color: rgb(122, 117, 55);
  animation: text_reveal_box 6s ease;
  animation-delay: 5s;
}

.share h1:nth-child(1) span {
  animation-delay: 2s;
}
.share h1:nth-child(2) span {
  animation-delay: 1s;
}

.share button {
  width: auto;

  font-size: 16px;
  margin: 0 5px;
}

.about {
  font-size: 2.5em;
}
.a {
  width: 80%;
}
.flex-container {
  justify-content: center;
  text-align: center;
}
.App-logo {
  width: 15%;
  height: 15%;
}
.active {
  opacity: 0;
}
/*keyframes*/
@keyframes text__reveal_box {
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: rgb(122, 117, 55);
  }
}

/*End keyframes*/
.container {
  background-color: #fff;
  max-width: 1280px;
  width: 100%;
}
.main-container{
  background-color: #fff;
  margin: auto 0;
}
.emergencyExit false {
  background: #ea3535 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  opacity: 1;
  color: #fff;
  border: hidden;
  padding: 14px 40px;
  font-size: 27px;
}
@media screen and (max-width: 600px) {
  emergencyExit {
    padding: 8px 13px !important;
    font-size: 1.2rem !important;
  }
}

.timerNote {
  text-align: right;
  margin-right:10px;
  color: #af60bb;

  font-weight: 600;
  cursor: default;
}

@media screen and (max-width: 600px) {
  timerNote {
    font-size: 0.9rem;
    font-weight: 500;
  }
}


.sendBtn{
  width: auto;
}
